<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select_location</title>

    <!-- Bootstrap core CSS cdn 5.1.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- local style -->
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>


<body>
    <div class="standard_box">
        <form id="form">
            <h2>指定票種/張數</h2>

            <button type="button" class="btn_type btn_type_old" onclick="numbtn_click(this.textContent)">敬老票</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">1張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">2張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">3張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">4張</button>
            
            <button type="button" class="btn_type btn_type_child" onclick="numbtn_click(this.textContent)">孩童票</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">1張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">2張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">3張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">4張</button>
        
            <button type="button" class="btn_type btn_type_love" onclick="numbtn_click(this.textContent)">愛心票</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">1張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">2張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">3張</button>
            <button type="button" class="btn_type" onclick="numbtn_click(this.textContent)">4張</button>
        </form>
    
        <a href="">
            <input type="button" class="btn_close" value="X">
        </a>
        <a href="/type/confirm_type">
            <input type="button" class="btn_ok" value="確認">
        </a>
    </div>

    <!-- Bootstrap core JS cdn 5.1.3 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>

<!-- jQuery cdn 3.6.0 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>

<!-- local js -->
<script src="../../../static/js/app.js"></script>

</body>

</html>