<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select_location</title>

    <!-- Bootstrap core CSS cdn 5.1.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.css'>

    <!-- local style -->
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>


<body>
    <div class="standard_box">
        <div id="form_time">
            <h4>指定時間</h4>
        </div>

        <div id="form_car">
            <h4>指定車種</h4>
            <button type="button" name="car_0" class="btn_select_car " onclick="carbtn_click(this.name)">自強</button>
            <button type="button" name="car_1" class="btn_select_car " onclick="carbtn_click(this.name)">莒光</button>
            <button type="button" name="car_2" class="btn_select_car " onclick="carbtn_click(this.name)">區間</button>
            <button type="button" name="car_3" class="btn_select_car " onclick="carbtn_click(this.name)">普悠瑪</button>
            <button type="button" name="car_4" class="btn_select_car " onclick="carbtn_click(this.name)">太魯閣</button>
        </div>

        <a href="/car/car">
            <input type="button" class="btn_ok_cancel btn_cancel_select btn_yellow" value="取消">
        </a>
        <button name="confirm_car" type="button" class="btn_ok_cancel btn_ok_select btn_orange">確認</button>
    </div>

    <!-- Bootstrap core JS cdn 5.1.3 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- jQuery cdn 3.6.0 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>

    <!-- local js -->
    <script src="../../../static/js/app.js"></script>
    <script>
        time_init();
        timebtn_click("time_0");
        carbtn_click("car_0");
        $("button[name='confirm_car']").click(function () {
            var temp = new Array();
            for(var i = 0; i < 5; i++) {
                if ($(`button[name='car_${i}']`).hasClass("btn_select_enable"))
                    temp.push($(`button[name='car_${i}']`).text());
            }
            window.sessionStorage.setItem("car_type", temp);
            console.log(window.sessionStorage.getItem("car_type"));

            $.ajax({
                method: "POST",
                url: "/car/select_car_time",
                contentType: 'application/json',
                data: JSON.stringify({
                    "hour": window.sessionStorage.getItem("hour"),
                    "min": window.sessionStorage.getItem("min"),
                    "car_type": window.sessionStorage.getItem("car_type"),
                    "date": window.sessionStorage.getItem("date")
                }),
                dataType: "json",
                beforeSend: function () {
                    Swal.fire({
                        title: '搜尋車班中...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading()
                        }
                    });
                }
            })
                .done(function (result) {
                    console.log(result);
                    if (result["status"] == "success"){
                        console.log("select_car_time is clicked, searching car");
                        window.location.href = "/car/recent_car";
                    }
                })
                .fail(function () {
                })
                .always(function () {
                });
        })
    </script>

</body>

</html>