<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top_3_car</title>

    <!-- Bootstrap core CSS cdn 5.1.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

    <!-- local style -->
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
</head>


<body>
    <button type="button" name="btn_cancel_everything" class="btn_home">取消購票</button>

    <div class="date_time">
        <div id="date"></div>
        <div id="time"></div>
    </div>

    <img class="pic_in_page" src="../../../static/img/008 009 010 011 012車次.png" alt="ask_location">
    <div class="speech_bubble_ai speech_bubble_ai_page">
        <carSpeech></carSpeech>
    </div>
    
    <div class="speech_bubble_user speech_bubble_user_page">
        <div id="recorder" class="h-100 w-100 m-1"></div>
    </div>

    <div class="container">
        <form id="form">
            <div class="ticket_box">
                <h3>車票</h3>
                
                
                <div class="res_location">目的地</div>
                <location></location>
                <button type="button" name="btn_edit_loc" class="btn_edit btn_edit_location">編輯</button>


                <div class="res_num">張數</div>
                <num></num>
                <button type="button" name="btn_edit_num" class="btn_edit btn_edit_num">編輯</button>


                <div class="res_car red_text">車次</div>
                <!-- <car></car> -->

                <div class="res_type">票種</div>
            </div>
        </form>
    </div>

    <a href="/car/car">
        <input type="button" class="btn_ticket btn_ticket_left btn_yellow" value="皆不要">
    </a>
    <a href="/car/select_top_3_car_time">
        <input type="button" class="btn_ticket btn_ticket_right btn_orange" value="選擇">
    </a>

<!-- Bootstrap core JS cdn 5.1.3 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>

<!-- jQuery cdn 3.6.0 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- local js -->
<script src="../../../static/js/app.js"></script>
<script src="../../../static/js/recorder.js"></script>
<script src="../../../static/js/p5.js"></script>
<script src="../../../static/js/p5sound.js"></script>
<audio id="player" autoplay preload="metadata">
    <source src="" type="audio/wav">
</audio>
<script>
    var ts = '{{ audio_url }}';
    console.log(ts);
    $("#player").attr("src", `../../../static/audio/system/${ts}.wav`);

    var car_list = JSON.parse(window.sessionStorage.getItem("car_list"));
    console.log(car_list);
    
    var temp = `
    第一班：${car_list[0]['hour']}:${car_list[0]['min']} ${car_list[0]['car']}、<br>
    第二班：${car_list[1]['hour']}:${car_list[1]['min']} ${car_list[1]['car']}、<br>
    第三班：${car_list[2]['hour']}:${car_list[2]['min']} ${car_list[2]['car']}、<br>
    請問您要坐那一班？
    `;
    console.log(temp);

    $("carSpeech").html(temp);
</script>

</body>

</html>